    .scroll-container {
      display: flex;
      overflow: hidden;
      white-space: nowrap;
    }
    
    .scroll-content {
        display: inline-flex;
        animation: scroll 120s linear infinite; /* Increased duration to 120s */
    }
    
    .scroll-item {
      display: inline-block;
      padding: 0 10px;
    }
    
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    
    #medtracking-description,
    #v2x-description {
      max-height: 4.5em; /* Adjust this value to fit approximately 4 lines */
      overflow: hidden;
      transition: max-height 0.3s ease;
    }
    
    #medtracking-description.expanded,
    #v2x-description.expanded {
      max-height: none;
    }